In [13]:
import pandas as pd 

df = pd.read_csv("D:/ml-aws/data/raw/HouseTS.csv")
df

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,Atlanta-Sandy Springs-Alpharetta
2,2012-05-31,125500.0,217450.0,63.913043,119.919216,24.0,40.0,63.0,60.0,144.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202681.309539,Atlanta-Sandy Springs-Alpharetta
3,2012-06-30,153000.0,189900.0,81.598080,105.617353,34.0,46.0,50.0,57.0,126.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202998.603897,Atlanta-Sandy Springs-Alpharetta
4,2012-07-31,165500.0,154000.0,81.598080,83.921175,39.0,49.0,42.0,50.0,80.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,203781.903446,Atlanta-Sandy Springs-Alpharetta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884087,2023-08-31,438000.0,450000.0,313.553299,322.866706,185.0,189.0,227.0,132.0,20.0,...,21949.0,1385.0,289300.0,17525.0,854.0,37063.0,37063.0,13748.0,438238.668892,Tampa-St. Petersburg-Clearwater
884088,2023-09-30,449950.0,459900.0,314.024277,318.285714,192.0,189.0,243.0,170.0,18.0,...,21949.0,1385.0,289300.0,17525.0,854.0,37063.0,37063.0,13748.0,440569.503271,Tampa-St. Petersburg-Clearwater
884089,2023-10-31,450000.0,449450.0,312.328767,314.374076,187.0,192.0,264.0,185.0,21.5,...,21949.0,1385.0,289300.0,17525.0,854.0,37063.0,37063.0,13748.0,442965.899354,Tampa-St. Petersburg-Clearwater
884090,2023-11-30,470000.0,425000.0,312.328767,315.315315,175.0,182.0,279.0,213.0,21.0,...,21949.0,1385.0,289300.0,17525.0,854.0,37063.0,37063.0,13748.0,444955.530200,Tampa-St. Petersburg-Clearwater
884091,2023-12-31,440000.0,399949.5,300.469484,317.925225,161.0,160.0,240.0,223.0,29.0,...,21949.0,1385.0,289300.0,17525.0,854.0,37063.0,37063.0,13748.0,446862.962247,Tampa-St. Petersburg-Clearwater

In [ ]:
df.shape

(884092, 39)